body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





#page_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: lightgray;
    padding: 15px 15px 15px 30px;
}

#page_title_name {
    font-style: italic;
    font-weight: normal;
}

#page_search {
    margin-bottom:15px;
}

#shopping_cart_session_search_list {
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
    height: 100%;
    display: none;
    border: 1px solid lightgray;
}

#shopping_cart_session_search_list a {
    color: black;
}

#shopping_cart_session_search_list a:hover {
    background-color: blue;
    color: white;
    text-decoration: none;
}

