
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationSummary()

@if (TempData["LogoutMessage"] != null)
{
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        @TempData["LogoutMessage"]
    </div>
}

<form method="post" action="/Account/Login">
    <table>
        <tr>
            <td><label>User Name:</label></td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td style="text-align:right;"><input type="checkbox" value="true" name="rememberMe" /></td>
            <td><label>Remember Me</label></td>
        </tr>
        <tr>
            <td><button type="submit" name="login">Login</button></td>
            <td><a href="/Account/Create">Create an Account</a></td>
        </tr>
    </table>

</form>
