@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WWDC16 Session Scheduler</h1>
    <p class="lead">Need to take a session? No problem. Log in and start signing up today!</p>
    <p><a href="~/Session/Index" class="btn btn-primary btn-lg">Let's Do It &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome!</h2>
        <p>
            Are you new to WWDC16 Session Scheduler?
            No problem.
            In just a couple of minutes you'll have a brand new account.
        </p>
        <p><a class="btn btn-default" href="~/Account/Create">Get Started &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need to Update Your Schedule</h2>
        <p>Decided to make a change? Jump in and make a change. No muss - no fuss.</p>
        <p><a class="btn btn-default" href="~/Session/Schedule">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administrators</h2>
        <p>The people with the power. Manage accounts, courses, and registrations all in one place.</p>
        <p><a class="btn btn-default" href="~/Admin/ManageUsers">Log In &raquo;</a></p>
    </div>
</div>